@import "./colorscheme";
@import "./navbar";
@import "./intro";
@import "./carousel";
@import "./cardgrid";
@import "./card-grid-wl";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    position: relative;

    h4 {
        color: $darkBlue;
        font-size: 2rem;
        text-align: center;
        font-family: 'League Spartan', 'Segoe UI';
    }

}





@media (max-width: 768px) {
    body {
        overflow-x: hidden;
        max-width: 100vw;
    }
    
    h4 {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}