@import "./colorscheme";
@import "./navbar";
@import "./intro";
@import "./carousel";
@import "./cardgrid";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    h4 {
        color: $darkBlue;
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    

}
